#include "keys_ru.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    behaviors {
        enc_vol: enc_vol {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENC_VOL";
            #sensor-binding-cells = <0>;
            bindings = <&kp C_VOL_UP>, <&kp C_VOL_DN>;
        };
    };

    macros {
        en_dot: en_dot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LEFT_ALT)>, <&macro_wait_time 25>, <&kp DOT>;

            label = "EN_DOT";
        };

        to_ru: to_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LC(N9))>;
            label = "TO_RU";
        };

        to_en: to_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LC(NUMBER_8))>;
            label = "TO_EN";
        };

        layer_en: layer_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0 &to_en>;
            label = "LAYER_EN";
        };

        layer_ru: layer_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 1 &to_ru>;
            label = "LAYER_RU";
        };

        en: en {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&kp LS(LC(N9)) &macro_param_1to1 &kp MACRO_PLACEHOLDER &kp LS(LC(N8))>;
            label = "EN";
        };

        en_symb: en_symb {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&to_en &mo 2>;

            label = "EN_SYMB";
        };

        en_symb_to_ru: en_symb_to_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&to_en &mo 2>,
                <&macro_release>,
                <&layer_ru>;

            label = "EN_SYMB_TO_RU";
        };
    };

    combos {
        compatible = "zmk,combos";

        ent {
            bindings = <&kp ENTER>;
            key-positions = <31 32>;
        };

        bspac {
            bindings = <&kp BACKSPACE>;
            key-positions = <32 33>;
        };

        del {
            bindings = <&kp DELETE>;
            key-positions = <46 47>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        EN {
            bindings = <
&kp GRAVE         &kp N1  &kp N2  &kp N3        &kp N4        &kp N5                            &kp N6  &kp N7     &kp N8     &kp N9   &kp N0    &none
&kp TAB           &kp Q   &kp W   &kp E         &kp R         &kp T                             &kp Y   &kp U      &kp I      &kp O    &kp P     &none
&kp LEFT_SHIFT    &kp A   &kp S   &kp D         &kp F         &kp G                             &kp H   &kp J      &kp K      &kp L    &kp SEMI  &none
&kp LEFT_CONTROL  &kp Z   &kp X   &kp C         &kp V         &kp B     &kp LBKT     &kp RBKT   &kp N   &kp M      &kp COMMA  &kp DOT  &kp FSLH  &none
                          &none   &kp LEFT_WIN  &kp LEFT_ALT  &en_symb  &kp SPACE    &kp ENTER  &mo 3   &layer_ru  &none      &none
            >;

            display-name = "Base";
            sensor-bindings =
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>;

            label = "EN";
        };

        RU {
            display-name = "RU";
            bindings = <
&kp GRAVE   &kp N1  &kp N2  &kp N3        &kp N4        &kp N5                                  &kp N6  &kp N7     &kp N8     &kp N9    &kp N0    &none
&kp TAB     &kp Q   &kp W   &kp E         &kp R         &kp T                                   &kp Y   &kp U      &kp I      &kp O     &kp P     &none
&kp LSHIFT  &kp A   &kp S   &kp D         &kp F         &kp G                                   &kp H   &kp J      &kp K      &kp L     &kp SEMI  &none
&kp LCTRL   &kp Z   &kp X   &kp C         &kp V         &kp B           &kp LBKT     &kp RBKT   &kp N   &kp M      &kp COMMA  &kp DOT   &kp FSLH  &none
                    &none   &kp LEFT_WIN  &kp LEFT_ALT  &en_symb_to_ru  &kp SPACE    &kp ENTER  &mo 3   &layer_en  &kp RALT   &kp RGUI
            >;

            sensor-bindings =
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>;

            label = "RU";
        };

        en_symb {
            bindings = <
&trans  &trans  &trans        &trans         &trans        &kp LS(LBRC)                     &trans         &trans         &trans     &trans       &trans  &trans
&trans  &trans  &kp MINUS     &kp EQUAL      &kp LS(PLUS)  &kp LS(LPAR)                     &kp LS(COLON)  &kp LS(QMARK)  &kp GRAVE  &kp LS(DQT)  &trans  &trans
&trans  &trans  &kp LS(LT)    &kp LS(UNDER)  &kp LS(GT)    &kp LBKT                         &kp SEMI       &kp DOT        &kp COMMA  &trans       &trans  &trans
&trans  &trans  &kp LS(STAR)  &kp FSLH       &kp LS(AT)    &trans        &trans     &trans  &trans         &kp LS(EXCL)   &trans     &trans       &trans  &trans
                &trans        &trans         &kp BSPC      &none         &kp RET    &trans  &trans         &trans         &trans     &trans
            >;

            label = "en_symb";
        };

        navig {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans     &trans        &trans    &trans         &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &kp PG_UP  &kp LS(HOME)  &kp UP    &kp LS(END)    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &kp PG_DN  &kp LEFT      &kp DOWN  &kp RIGHT      &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans     &kp LC(LEFT)  &none     &kp LC(RIGHT)  &trans  &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans     &trans        &trans    &trans
            >;

            label = "navig";
        };

        adj {
            bindings = <
&bootloader  &trans  &trans  &trans  &trans  &trans                    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2      &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR_ALL
&trans       &trans  &trans  &trans  &trans  &trans                    &trans        &trans        &trans            &trans        &trans        &studio_unlock
&trans       &trans  &trans  &trans  &trans  &trans                    &out OUT_BLE  &kp C_VOL_DN  &kp K_MUTE        &kp C_VOL_UP  &trans        &trans
&trans       &trans  &trans  &trans  &trans  &trans  &trans    &trans  &out OUT_USB  &kp K_PREV    &kp K_PLAY_PAUSE  &kp K_NEXT    &trans        &trans
                     &trans  &trans  &trans  &trans  &trans    &trans  &trans        &trans        &trans            &trans
            >;

            display-name = "Adjust";
        };

        nav {
            bindings = <
&kp F1  &kp F2  &kp F3        &kp F4    &kp F5         &kp F6                     &kp F7           &kp F8   &kp F9     &kp F10  &kp F11  &kp F12
&trans  &trans  &kp HOME      &kp UP    &kp END        &kp INS                    &kp PG_UP        &kp N7   &kp N8     &kp N9   &trans   &trans
&trans  &trans  &kp LEFT      &kp DOWN  &kp RIGHT      &kp RET                    &kp PG_DN        &en DOT  &en COMMA  &kp N6   &trans   &trans
&trans  &trans  &kp LC(LEFT)  &kp CAPS  &kp LC(RIGHT)  &kp DEL  &trans    &trans  &kp PRINTSCREEN  &kp N1   &kp N2     &kp N3   &trans   &trans
                &trans        &trans    &trans         &trans   &trans    &trans  &mo 4            &trans   &kp N0     &trans
            >;

            display-name = "Navigation";
        };

        sym {
            bindings = <
&trans  &trans    &kp AT    &kp DLLR   &kp HASH  &trans                       &trans     &trans    &kp CARET  &trans    &trans    &trans
&trans  &trans    &kp LT    &kp EQUAL  &kp GT    &kp GRAVE                    &trans     &kp LBKT  &kp UNDER  &kp RBKT  &trans    &trans
&trans  &kp BSLH  &kp LPAR  &kp MINUS  &kp RPAR  &kp PLUS                     &kp PRCNT  &kp LBRC  &kp SEMI   &kp RBRC  &kp EXCL  &trans
&trans  &trans    &kp STAR  &kp COLON  &kp FSLH  &trans     &trans    &trans  &trans     &kp PIPE  &kp TILDE  &kp AMPS  &trans    &trans
                  &trans    &trans     &trans    &mo 4      &trans    &trans  &trans     &trans    &trans     &trans
            >;

            display-name = "Symbols";
        };
    };
};
